#container {
  text-align: center;
  padding: 10px;
  position: absolute;
  left: 0;
  right: 0;
  transform: translate(50%, 50%);
  max-width: 50%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}
ion-button {
  --background: #000000;
  --background-hover: #7eddef;
  --background-activated: #88e2f4;
  --background-focused: #88acf4;

  --color: #FFFF;

  --border-radius: 1;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 #00000040;

  --ripple-color: #9514ff;

  --padding-top: 10px;
  --padding-bottom: 10px;
}
